.page-head {
  width: 100%;

  .container {
    .row {
      display: flex;
      align-items: baseline;

      .nav-img {
        width: 110px;
        height: 23px;

        .logo {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          cursor: pointer;
        }
      }

      .nav-mid {
        .nav-ul {
          list-style: none;
          display: flex;
          align-items: center;
          justify-content: space-evenly;

          .product {
            font-family: "Poppins", sans-serif;
            color: #2d2323;
            font-size: 18px;
            font-weight: 500;
            height: 46px;
            line-height: 120%;
            padding: 10px 16px;
            cursor: pointer;
            display: flex;
            align-items: baseline;
            justify-content: center;
            gap: 6px;

            &:hover {
              background-color: #f8f4f4;
              border-radius: 8px;

            }

            .bi-chevron-down {
              font-size: 15px;
            }
          }

          .pricing {
            font-family: "Poppins", sans-serif;
            color: #2d2323;
            font-size: 18px;
            font-weight: 500;
            height: 46px;
            line-height: 120%;
            padding: 10px 16px;
            cursor: pointer;

            &:hover {
              background-color: #f8f4f4;
              border-radius: 8px;

            }

          }

          .cases {
            font-family: "Poppins", sans-serif;
            color: #2d2323;
            font-size: 18px;
            font-weight: 500;
            height: 46px;
            line-height: 120%;
            padding: 10px 16px;
            cursor: pointer;
            display: flex;
            align-items: baseline;
            justify-content: center;
            gap: 6px;

            &:hover {
              background-color: #f8f4f4;
              border-radius: 8px;

            }

            .bi-chevron-down {
              font-size: 15px;
            }
          }

          .resour {
            font-family: "Poppins", sans-serif;
            color: #2d2323;
            font-size: 18px;
            font-weight: 500;
            height: 46px;
            line-height: 120%;
            padding: 10px 16px;
            cursor: pointer;
            display: flex;
            align-items: baseline;
            justify-content: center;
            gap: 6px;

            &:hover {
              background-color: #f8f4f4;
              border-radius: 8px;

            }

            .bi-chevron-down {
              font-size: 15px;
            }
          }
        }
      }

      .button-line {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;

        .login {
          background-color: white;
          color: #2d2323;
          border: 1px solid #e3e1e1;
          border-radius: .75rem;
          padding:.25rem 1rem;
          line-height: 2;
          font-size: 1rem;
          font-weight: 400;
          transition: background-color .3s;
          cursor: pointer;
          &:hover {
            background-color: #f8f4f4;
            

          }

        
        }

        .demo {
          background-color: #2d2323;
          color: white;
          border: 1px solid #e3e1e1;
          border-radius: .75rem;
          padding:.25rem 1rem;
          line-height: 2;
          font-size: 1rem;
          font-weight: 400;
          transition: background-color .3s;
          cursor: pointer;
          &:hover {
            background-color: #4a3e3e;
            

          }

        
        }

        .start {
          background-color: #4f75fe;
          color: #fff;
          font-size: 1rem;
          font-weight: 400;
          padding: .25rem 1rem;
          line-height: 2;
          border-radius: .75rem;
          border: transparent;
          cursor: pointer;
          transition: background-color .3s;
          &:hover {
            background-color: #254cda;
            

          }
        
        }
      }
    }
  }
}