@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.page-head {
  width: 100%;
}
.page-head .container .row {
  display: flex;
  align-items: baseline;
}
.page-head .container .row .nav-img {
  width: 110px;
  height: 23px;
}
.page-head .container .row .nav-img .logo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  cursor: pointer;
}
.page-head .container .row .nav-mid .nav-ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.page-head .container .row .nav-mid .nav-ul .product {
  font-family: "Poppins", sans-serif;
  color: #2d2323;
  font-size: 18px;
  font-weight: 500;
  height: 46px;
  line-height: 120%;
  padding: 10px 16px;
  cursor: pointer;
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 6px;
}
.page-head .container .row .nav-mid .nav-ul .product:hover {
  background-color: #f8f4f4;
  border-radius: 8px;
}
.page-head .container .row .nav-mid .nav-ul .product .bi-chevron-down {
  font-size: 15px;
}
.page-head .container .row .nav-mid .nav-ul .pricing {
  font-family: "Poppins", sans-serif;
  color: #2d2323;
  font-size: 18px;
  font-weight: 500;
  height: 46px;
  line-height: 120%;
  padding: 10px 16px;
  cursor: pointer;
}
.page-head .container .row .nav-mid .nav-ul .pricing:hover {
  background-color: #f8f4f4;
  border-radius: 8px;
}
.page-head .container .row .nav-mid .nav-ul .cases {
  font-family: "Poppins", sans-serif;
  color: #2d2323;
  font-size: 18px;
  font-weight: 500;
  height: 46px;
  line-height: 120%;
  padding: 10px 16px;
  cursor: pointer;
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 6px;
}
.page-head .container .row .nav-mid .nav-ul .cases:hover {
  background-color: #f8f4f4;
  border-radius: 8px;
}
.page-head .container .row .nav-mid .nav-ul .cases .bi-chevron-down {
  font-size: 15px;
}
.page-head .container .row .nav-mid .nav-ul .resour {
  font-family: "Poppins", sans-serif;
  color: #2d2323;
  font-size: 18px;
  font-weight: 500;
  height: 46px;
  line-height: 120%;
  padding: 10px 16px;
  cursor: pointer;
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 6px;
}
.page-head .container .row .nav-mid .nav-ul .resour:hover {
  background-color: #f8f4f4;
  border-radius: 8px;
}
.page-head .container .row .nav-mid .nav-ul .resour .bi-chevron-down {
  font-size: 15px;
}
.page-head .container .row .button-line {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.page-head .container .row .button-line .login {
  background-color: white;
  color: #2d2323;
  border: 1px solid #e3e1e1;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 400;
  transition: all 0.1s;
  cursor: pointer;
}
.page-head .container .row .button-line .login:hover {
  background-color: #f8f4f4;
  border: transparent;
  transform: rotate(-1deg);
  outline: 0;
}
.page-head .container .row .button-line .demo {
  background-color: white;
  color: #2d2323;
  border: 1px solid #e3e1e1;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 400;
  transition: all 0.1s;
  cursor: pointer;
}
.page-head .container .row .button-line .demo:hover {
  background-color: #f8f4f4;
  border: transparent;
  transform: rotate(-1deg);
  outline: 0;
}
.page-head .container .row .button-line .start {
  background-color: #4f75fe;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  padding: 11px 25px 10px;
  border-radius: 30px;
  border: transparent;
  cursor: pointer;
  transition: all 0.1s;
}
.page-head .container .row .button-line .start:hover {
  background-color: #254cda;
  transform: rotate(-2deg);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}/*# sourceMappingURL=style.css.map */